{% comment %}
GOV.UK pagination for a ListView paginated with ElidedPaginationMixin. Expects
page_obj, is_paginated, page_range and page_ellipsis in the context.
{% endcomment %}
{% if is_paginated %}
<nav class="govuk-pagination" aria-label="Pagination">
  {% if page_obj.has_previous %}
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="?page={{ page_obj.previous_page_number }}" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.7441 1.4062-1.4062-4.3027-4.3027h11.555v-2h-11.555l4.3027-4.3027-1.4258-1.4492z"></path>
      </svg>
      <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span>
    </a>
  </div>
  {% endif %}
  <ul class="govuk-pagination__list">
    {% for num in page_range %}
      {% if num == page_ellipsis %}
      <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
      {% else %}
      <li class="govuk-pagination__item{% if num == page_obj.number %} govuk-pagination__item--current{% endif %}">
        <a class="govuk-link govuk-pagination__link" href="?page={{ num }}" aria-label="Page {{ num }}"{% if num == page_obj.number %} aria-current="page"{% endif %}>{{ num }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% if page_obj.has_next %}
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="?page={{ page_obj.next_page_number }}" rel="next">
      <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4062 1.4062 4.3027 4.3027h-11.003v2h11.003l-4.3027 4.3027 1.4063 1.4062 6.7266-6.7266z"></path>
      </svg>
    </a>
  </div>
  {% endif %}
</nav>
{% endif %}
