{% extends "oauth2_provider/base.html" %}

{% block title %}{% block form_title %}Edit {{ application.name }}{% endblock %}{% endblock %}

{% block inner_content %}
<a href="{% block form_back_url %}{% url 'oauth2_provider:detail' team_pk=team.pk pk=application.pk %}{% endblock %}" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">{% block form_heading %}Edit {{ application.name }}{% endblock %}</h1>

{% if form.errors %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% for field in form %}
          {% for error in field.errors %}
            <li><a href="#{{ field.id_for_label }}">{{ error }}</a></li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<form method="post" action="{% block form_action_url %}{% url 'oauth2_provider:update' team_pk=team.pk pk=application.pk %}{% endblock %}">
  {% csrf_token %}

  <h2 class="govuk-heading-m">Required</h2>
  {% include "oauth2_provider/_form_field.html" with field=form.name %}
  {% include "oauth2_provider/_form_field.html" with field=form.client_type %}
  {% include "oauth2_provider/_form_field.html" with field=form.redirect_uris %}

  <h2 class="govuk-heading-m">Optional details</h2>
  {% include "oauth2_provider/_form_field.html" with field=form.description %}
  {% include "oauth2_provider/_form_field.html" with field=form.main_app_url %}
  {% include "oauth2_provider/_form_field.html" with field=form.additional_emails %}

  <h2 class="govuk-heading-m">Advanced OAuth settings</h2>
  {% include "oauth2_provider/_form_field.html" with field=form.post_logout_redirect_uris %}
  {% include "oauth2_provider/_form_field.html" with field=form.allowed_origins %}
  {% include "oauth2_provider/_form_field.html" with field=form.prompt_for_consent %}

  {% for field in form.hidden_fields %}{{ field }}{% endfor %}

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">Save</button>
    <a href="{% block form_cancel_url %}{% url 'oauth2_provider:team' pk=team.pk %}{% endblock %}" class="govuk-link">Cancel</a>
  </div>
</form>
{% endblock %}
