{% extends "oauth2_provider/base.html" %}

{% block title %}Your applications{% endblock %}

{% block inner_content %}
<h1 class="govuk-heading-l">Your applications</h1>

{% if request.user.team %}

  {% if applications %}
    <ul class="govuk-list">
      {% for application in applications %}
      <li><a class="govuk-link" href="{% url 'oauth2_provider:detail' application.pk %}">{{ application.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="govuk-body">Your team has no applications registered yet.</p>
  {% endif %}

  <a href="{% url 'oauth2_provider:register' %}" class="govuk-button" data-module="govuk-button">Register a new application</a>

{% else %}

  <div class="govuk-inset-text">
    <p class="govuk-body">You are not a member of any team.</p>
    <p class="govuk-body">To register and manage applications, ask an existing team member to add you to their team.</p>
  </div>

{% endif %}
{% endblock %}
