{% extends "oauth2_provider/base.html" %}

{% block title %}{{ application.name }}{% endblock %}

{% block inner_content %}
<a href="{% url 'oauth2_provider:team' pk=team.pk %}" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">{{ application.name }}</h1>

{% if raw_client_secret %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Client secret</h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">Copy your client secret now. It will not be shown again.</p>
    <p class="govuk-body"><code id="raw-client-secret">{{ raw_client_secret }}</code></p>
  </div>
</div>
{% endif %}

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Client ID</dt>
    <dd class="govuk-summary-list__value"><code id="client-id">{{ application.client_id }}</code></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Client type</dt>
    <dd class="govuk-summary-list__value">{{ application.client_type }}</dd>
  </div>
  {% if application.description %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Description</dt>
    <dd class="govuk-summary-list__value">{{ application.description }}</dd>
  </div>
  {% endif %}
  {% if application.main_app_url %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Main app URL</dt>
    <dd class="govuk-summary-list__value"><a class="govuk-link" href="{{ application.main_app_url }}">{{ application.main_app_url }}</a></dd>
  </div>
  {% endif %}
  {% if application.redirect_uris %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Redirect URIs</dt>
    <dd class="govuk-summary-list__value">{{ application.redirect_uris }}</dd>
  </div>
  {% endif %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Prompt for consent</dt>
    <dd class="govuk-summary-list__value">{% if application.skip_authorization %}No{% else %}Yes{% endif %}</dd>
  </div>
  {% if application.additional_emails %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Additional emails</dt>
    <dd class="govuk-summary-list__value">{{ application.additional_emails }}</dd>
  </div>
  {% endif %}
</dl>

<form method="post" action="{% url 'oauth2_provider:regenerate-secret' team_pk=team.pk pk=application.pk %}" class="govuk-button-group">
  {% csrf_token %}
  <a href="{% url 'oauth2_provider:update' team_pk=team.pk pk=application.pk %}" class="govuk-button">Edit</a>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Regenerate secret</button>
  <a href="{% url 'oauth2_provider:delete' team_pk=team.pk pk=application.pk %}" class="govuk-link">Delete application</a>
</form>
{% endblock %}
