{% extends "oauth2_provider/base.html" %}

{% block title %}Sign-in logs{% endblock %}

{# A wide table plus its filters needs more room than the default
   two-thirds layout. #}
{% block grid_column_class %}govuk-grid-column-full{% endblock %}

{% block inner_content %}
<h1 class="govuk-heading-l">Sign-in logs</h1>

<p class="govuk-body">Every sign-in to the applications your teams manage, most recent first.</p>

<form method="get" class="govuk-!-margin-bottom-6">
  <div class="govuk-form-group">
    <label class="govuk-label" for="application">Application</label>
    <select class="govuk-select govuk-!-width-one-third" id="application" name="application">
      <option value="">All applications</option>
      {% for application in applications %}
      <option value="{{ application.pk }}"{% if filters.application == application.pk|stringformat:'s' %} selected{% endif %}>{{ application.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="user">User email</label>
    <input class="govuk-input govuk-input--width-20" id="user" name="user" type="text" value="{{ filters.user }}">
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="from-hint">
      <legend class="govuk-fieldset__legend">From date</legend>
      <div id="from-hint" class="govuk-hint">For example, 27 3 2026</div>
      <div class="govuk-date-input" id="from">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from_day">Day</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from_day" name="from_day" type="text" inputmode="numeric" value="{{ filters.from_day }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from_month">Month</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from_month" name="from_month" type="text" inputmode="numeric" value="{{ filters.from_month }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from_year">Year</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from_year" name="from_year" type="text" inputmode="numeric" value="{{ filters.from_year }}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="to-hint">
      <legend class="govuk-fieldset__legend">To date</legend>
      <div id="to-hint" class="govuk-hint">For example, 27 3 2026</div>
      <div class="govuk-date-input" id="to">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="to_day">Day</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to_day" name="to_day" type="text" inputmode="numeric" value="{{ filters.to_day }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="to_month">Month</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to_month" name="to_month" type="text" inputmode="numeric" value="{{ filters.to_month }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="to_year">Year</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to_year" name="to_year" type="text" inputmode="numeric" value="{{ filters.to_year }}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">Apply filters</button>
    {% if has_filters %}
    <a class="govuk-link" href="{% url 'oauth2_provider:logs' %}">Clear filters</a>
    {% endif %}
  </div>
</form>

{% if events %}

  <table class="govuk-table">
    <caption class="govuk-visually-hidden">Sign-in events</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="white-space: nowrap">When</th>
        <th scope="col" class="govuk-table__header">User</th>
        <th scope="col" class="govuk-table__header">Application</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for event in events %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="white-space: nowrap">{{ event.created|date:"j M Y, H:i" }}</td>
        <td class="govuk-table__cell">{{ event.user.email }}</td>
        <td class="govuk-table__cell">{{ event.application.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "oauth2_provider/_pagination.html" %}

{% else %}

  <div class="govuk-inset-text">
    {% if has_filters %}
    <p class="govuk-body">No sign-ins match your filters.</p>
    {% else %}
    <p class="govuk-body">There are no sign-ins to show yet.</p>
    {% endif %}
  </div>

{% endif %}
{% endblock %}
